{% extends 'base.html' %}
{% block content %}
<div class="container my-5" id="main-container">
    <ul class="nav nav-tabs fw-bold text-uppercase shadow-sm rounded" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active d-flex align-items-center gap-2" data-bs-toggle="tab" data-bs-target="#manuel" type="button" role="tab">
                <i class="fa-solid fa-gear"></i> Schedule Settings 
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link d-flex align-items-center gap-2" data-bs-toggle="tab" data-bs-target="#auto" type="button" role="tab">
                <i class="fa-solid fa-layer-group"></i> Manage Rules 
            </button>
        </li>
    </ul>

    <div class="tab-content bg-white p-4 border border-top-0 shadow-sm rounded-bottom">
        <!-- Tab 1: Manuel -->
        <div class="tab-pane fade show active" id="manuel" role="tabpanel">
            <form action="" method="post" id="form">
                {{ form.hidden_tag() }}

                <!-- Schedule Name -->
                <div class="row mb-4 justify-content-center">
                    <div class="col-md-8">
                        <label class="form-label fw-semibold">
                            {{ form.name.label.text }} <span class="text-danger">*</span>
                        </label>
                        {{ form.name(class_="form-control", placeholder="Enter schedule name") }}
                        {% if form.name.errors %}
                        <div class="invalid-feedback d-block">
                            <i class="fa-solid fa-circle-exclamation me-1"></i> {{ form.name.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Description -->
                <div class="row mb-4 justify-content-center">
                    <div class="col-md-8">
                        <label class="form-label fw-semibold">
                            {{ form.description.label.text }}
                        </label>
                        {{ form.description(class_="form-control", rows=4, placeholder="Optional description...") }}
                        {% if form.description.errors %}
                        <div class="invalid-feedback d-block">
                            <i class="fa-solid fa-circle-exclamation me-1"></i> {{ form.description.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Hour -->
                <div class="row mb-4 justify-content-center">
                    <div class="col-md-4">
                        <label class="form-label fw-semibold">
                            {{ form.hour.label.text }} <span class="text-danger">*</span>
                        </label>
                        {{ form.hour(class_="form-control", placeholder="0 - 23") }}
                        {% if form.hour.errors %}
                        <div class="invalid-feedback d-block">
                            <i class="fa-solid fa-circle-exclamation me-1"></i> {{ form.hour.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Minute -->
                    <div class="col-md-4">
                        <label class="form-label fw-semibold">
                            {{ form.minute.label.text }} <span class="text-danger">*</span>
                        </label>
                        {{ form.minute(class_="form-control", placeholder="0 - 59") }}
                        {% if form.minute.errors %}
                        <div class="invalid-feedback d-block">
                            <i class="fa-solid fa-circle-exclamation me-1"></i> {{ form.minute.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Days -->
                <div class="row mb-4 justify-content-center">
                    <div class="col-md-8">
                        <label class="form-label fw-semibold">
                            {{ form.days.label.text }} <span class="text-danger">*</span>
                        </label>

                        {% for value, label in form.days.choices %}
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    name="{{ form.days.name }}"
                                    id="day-{{ value }}"
                                    value="{{ value }}"
                                    {% if value in form.days.data %}checked{% endif %}
                                >
                                <label class="form-check-label" for="day-{{ value }}">
                                    {{ label }}
                                </label>
                            </div>
                        {% endfor %}

                        {% if form.days.errors %}
                            <div class="invalid-feedback d-block">
                                <i class="fa-solid fa-circle-exclamation me-1"></i> {{ form.days.errors[0] | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>


                <!-- Active -->
                <div class="row mb-4 justify-content-center">
                    <div class="col-md-8 form-check">
                        {{ form.active(class_="form-check-input", id="activeCheckbox") }}
                        <label class="form-check-label fw-semibold" for="activeCheckbox">
                            {{ form.active.label.text }}
                        </label>
                        {% if form.active.errors %}
                        <div class="invalid-feedback d-block">
                            <i class="fa-solid fa-circle-exclamation me-1"></i> {{ form.active.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-success px-4 py-2">
                        <i class="fa-solid fa-check me-2"></i> {{ form.submit.label.text }}
                    </button>
                </div>
            </form>

            
        </div>
        <!-- Tab 2: Auto -->
        <div class="tab-pane fade " id="auto" role="tabpanel">
            <div class="card bg-white shadow-sm border-0 mb-4">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-4">
                            <input type="text" v-model="searchQuery" @input="onSearchInput" @keyup.enter="onEnterKey" class="form-control form-control-sm rounded-pill" placeholder="Search by keywords...">
                            </div>
                            <div class="col-md-3">
                                <select v-model="ruleType" class="form-select form-select-sm rounded-pill">
                                    <option value="">All Types</option>
                                    <option value="yara">YARA</option>
                                    <option value="sigma">SIGMA</option>
                                    <option value="zeek">Zeek</option>
                                    <option value="suricata">Suricata</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select v-model="sourceFilter" class="form-select form-select-sm rounded-pill">
                                    <option value="">All Sources</option>
                                    <option v-for="source in userSources" :key="source" :value="source">
                                        [[ source ]]
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-dark w-100 rounded-pill" @click="fetchRules(1)">
                                    <i class="fas fa-sliders-h"></i> Apply
                                </button>
                            </div>
                        </div>
                    </div>
            </div>



            <div class="table-responsive">
                <div v-if="owner_rules.length > 0">
                    <table class="table table-striped table-hover align-middle" >
                        <thead class="table-dark">
                            <tr>
                            <th scope="col">
                                <input type="checkbox" @change="toggleAll" :checked="allSelected" aria-label="Select all" />
                            </th>
                            <th scope="col"><i class="fas fa-hashtag"></i> ID</th>
                            <th scope="col"><i class="fas fa-shield-alt"></i> Title</th>
                            <th scope="col"><i class="fas fa-user"></i> Author</th>
                            <th scope="col"><i class="fas fa-calendar-alt"></i> Created</th>
                            <th scope="col"><i class="fas fa-link"></i> Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="rule in owner_rules" :key="rule.id" 
                                @click="toggleSelection(rule.id , rule.title)" 
                                :class="{ 'table-primary': selectedRules.includes(rule.id) }"
                                style="cursor: pointer;">
                            <td @click.stop>
                                <input type="checkbox" :checked="selectedRules.some(r => r.id === rule.id)" @change="toggleSelection(rule.id, rule.title)" />
                            </td>
                            <td>[[ rule.id ]]</td>
                            <td>[[ rule.title ]]</td>
                            <td>[[ rule.author ]]</td>
                            <td>[[ rule.creation_date ]]</td>
                            <td>
                                <a :href="rule.source" target="_blank" class="text-decoration-none">
                                GitHub <i class="fas fa-external-link-alt"></i>
                                </a>
                            </td>
                            
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center mt-3">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                            <li class="page-item" :class="{ disabled: owner_current_page === 1 }">
                                <a class="page-link" href="#" @click.prevent="fetchRules(owner_current_page - 1)">
                                <i class="fas fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="page-item" v-for="page in visiblePages" :key="page" :class="{ active: owner_current_page === page, disabled: page === '...' }">
                                <a v-if="page !== '...'" class="page-link" href="#" @click.prevent="fetchRules(page)">[[ page ]]</a>
                                <span v-else class="page-link">...</span>
                            </li>
                            <li class="page-item" :class="{ disabled: owner_current_page === owner_total_page }">
                                <a class="page-link" href="#" @click.prevent="fetchRules(current_page + 1)">
                                Next <i class="fas fa-arrow-right"></i>
                                </a>
                            </li>
                            </ul>
                        </nav>
                    </div>
                    



                </div>
                <template v-else>
                    <div class="alert alert-warning text-center mt-5 shadow-sm">
                    <i class="fas fa-circle-info me-2"></i>
                        You have not  own any rules yet.
                    </div>
                </template>
                <!-- Selected Rules Display -->
                <div class="mt-3" v-if="selectedRules.length > 0">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body">
                            <h6 class="card-title mb-2 text-primary">
                                <i class="fas fa-check-circle me-1"></i> Selected Rules ([[ selectedRules.length ]])
                            </h6>
                            <div class="d-flex flex-wrap gap-2 mb-2">
                                <span
                                    v-for="rule in displayedSelectedRules"
                                    :key="rule.id"
                                    class="badge bg-secondary text-light rounded-pill px-3 py-2"
                                >
                                    [[ rule.title ]]
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-close btn-close-white ms-2"
                                        aria-label="Remove"
                                        @click.stop="removeFromSelection(rule.id)"
                                    ></button>
                                </span>

                                <span
                                    v-if="remainingSelectedCount > 0"
                                    class="badge bg-dark text-light rounded-pill px-3 py-2 align-self-center"
                                >
                                    +[[ remainingSelectedCount ]] others selected
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class=" my-3">
                        <div class="text-center">
                            <button class="btn btn- btn-success sm mx-2" title="Enable automatic update" @click="SaveRules()">
                                <i class="fas fa-check"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="schedule-info" data-schedule-id="{{ schedule_id }}"></div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="module">
    const { createApp, ref, computed } = Vue
    const schedule_id = document.getElementById('schedule-info').dataset.scheduleId;

    import { message_list , display_prepared_toast , prepare_toast, display_toast} from '/static/js/toaster.js'

    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            /**
             *          ########################
             *          #      Edit schedule   #
             *          ########################
             */
            const csrf_token = '{{ csrf_token() }}';

            async function SaveRules() {
                if (selectedRules.value.length === 0) {
                    alert("Please select at least one rule to check for updates.");
                    return;
                }

                const response = await fetch("/rule/update_rule_schedule", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrf_token
                    },
                    body: JSON.stringify({ rules: selectedRules.value , schedule_id: schedule_id}),
                });
                
                display_toast(response)
            }

            /**
             *          ##################################
             *          #      Get rule from  schedule   #
             *          ##################################
             */

            const current_schedule = ref([])
        
            async function GetSchedule() {
                const params = new URLSearchParams({ schedule_id });

                const res = await fetch('/rule/get_schedule?' + params.toString());
                if (res.status === 200) {
                    const data = await res.json();
                    current_schedule.value = data.schedule;

                    if (current_schedule.value.rules) {
                        selectedRules.value = [...current_schedule.value.rules];
                        allRuleIds.value = current_schedule.value.rules.map(r => r.id);
                    }
                }
            }
            GetSchedule()


            /**
             *          ########################
             *          #   old   Rule State   #
             *          ########################
             */
            const old_choice = ref([])             
            const old_current_page = ref(1)        
            const old_total_page = ref(0)         

            async function fetchOldRules(page) {
                const params = new URLSearchParams({
                    page
                });

                const res = await fetch('/rule/get_old_rule_choice?' + params.toString());
                if (res.status === 200) {
                    const data = await res.json();
                    old_choice.value = data.rule;
                    old_current_page.value = page;
                    old_total_page.value = data.total_pages;
                }
            }
            fetchOldRules(1)

            /**
             *          ########################
             *          #   Main Rule State   #
             *          ########################
             */
            const allRules = ref([]);

            const owner_rules = ref([])              // Rules shown on current page
            const owner_current_page = ref(1)        // Current pagination page
            const owner_total_page = ref(0)          // Total number of pages




            const searchQuery = ref('');
            const sourceFilter = ref('');
            const ruleType = ref('');
            const userSources = ref([]);  

            /**
             *          #######################
             *          #   Fetch one page    #
             *          #######################
             */
            async function fetchRules(page) {
                const params = new URLSearchParams({
                    page,
                    search: searchQuery.value,
                    rule_type: ruleType.value,
                    source: sourceFilter.value
                });

                const res = await fetch('/rule/get_my_rules_page_filter_github?' + params.toString());
                if (res.status === 200) {
                    const data = await res.json();
                    owner_rules.value = data.rule;
                    owner_current_page.value = page;
                    owner_total_page.value = data.total_pages;
                    allRules.value = data.list;

                }
            }

            fetchRules(1) // Initial fetch on mount

            /**
             *          ##########################
             *          #   Fetch all rule IDs   #
             *          ##########################
             */
            async function fetchAllOwnerRules() {
                const params = new URLSearchParams({
                    search: searchQuery.value,
                    rule_type: ruleType.value,
                    source: sourceFilter.value
                });
                const response = await fetch("/rule/get_all_rules_owner?" + params.toString());
                if (response.status === 200) {
                    const data = await response.json();
                    return data; // [{ id, title }]
                }
                
            }


            async function fetchUserSources() {
                const res = await fetch('/rule/get_all_sources_owner');
                if (res.ok) {
                    const data = await res.json();
                    return data;
                } else {
                    return [];
                }
            }

            fetchUserSources()

            /**
             *          ########################
             *          #   Selection logic   #
             *          ########################
             * 
             */
            
           const selectedRules = ref([]); // [{ id, title }]
            const allRuleIds = ref([]); // [id, id, id, ...]
            const allSelected = computed(() => selectedRules.value.length === allRuleIds.value.length && allRuleIds.value.length > 0);

            // Pour l’affichage limité
            const displayedSelectedRules = computed(() => selectedRules.value.slice(0, 50));
            const remainingSelectedCount = computed(() => Math.max(0, selectedRules.value.length - 50));

            function toggleSelection(id, title) {
                const index = selectedRules.value.findIndex(rule => rule.id === id);
                if (index === -1) {
                    selectedRules.value.push({ id, title });
                } else {
                    selectedRules.value.splice(index, 1);
                }
            }

            function removeFromSelection(id) {
                const index = selectedRules.value.findIndex(rule => rule.id === id);
                if (index !== -1) {
                    selectedRules.value.splice(index, 1);
                }
            }

            async function toggleAll(event) {
                const isChecked = event.target.checked;

                if (isChecked) {
                    const rules = await fetchAllOwnerRules(); // [{ id, title }]
                    allRuleIds.value = rules.map(r => r.id);
                    selectedRules.value = rules;
                } else {
                    allRuleIds.value = [];
                    selectedRules.value = [];
                }
            }


            const updateResults = ref([]);

            /**
             *          ############
             *          #  filter  #
             *          ############
             */

            
            async function onSearchInput() {
                if (searchQuery.value.trim() === "") {
                await fetchRules(1)
                } else {
                await fetchRules(1)
                }
            }

            async function onEnterKey() {
                await fetchRules(1)
            }

            async function fetchUserSources() {
                const res = await fetch('/rule/get_all_sources_owner');
                if (res.ok) {
                    const data = await res.json();
                    userSources.value = data;
                } 
            }

            fetchUserSources();


            /**
             *          #######################
             *          #   Pagination logic #
             *          #######################
             */
            const visiblePages = computed(() => {
                const pages = []
                const total = owner_total_page.value
                const current = owner_current_page.value
                if (total <= 7) {
                    for (let i = 1; i <= total; i++) pages.push(i)
                } else {
                    if (current <= 4) {
                        pages.push(1, 2, 3, 4, 5, '...', total)
                    } else if (current >= total - 3) {
                        pages.push(1, '...', total - 4, total - 3, total - 2, total - 1, total)
                    } else {
                        pages.push(1, '...', current - 1, current, current + 1, '...', total)
                    }
                }
                return pages
            })


            return {
                message_list,
                owner_rules,
                selectedRules,
                allRules,
                owner_current_page,
                owner_total_page,

                visiblePages,
                updateResults,


                fetchRules,
                searchQuery,
                sourceFilter,
                ruleType,
                userSources,
                onSearchInput,
                onEnterKey,
                toggleSelection,
                removeFromSelection,
                toggleAll,
                allSelected,
                displayedSelectedRules,
                remainingSelectedCount,

                old_choice,

                SaveRules,
                current_schedule
            }

        }
    }).mount('#main-container')
</script>
{% endblock %}