{% extends 'base.html' %}

{% block content %}
<div class="container col-md-8 justify-content-center my-5">
    <div class="card shadow border-0">
        <div class="card-body p-4 bg-light rounded">
            <h1 class="text-primary" style="text-align: center;">
                <i class="fas fa-user-circle me-2"></i> My Profile
            </h1>

            <hr class="w-25 mx-auto">

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td style="color:#494950"><i class="fas fa-id-badge me-2 text-secondary"></i>First Name</td>
                        <td><b>{{user.first_name}}</b></td>
                    </tr>
                    <tr>
                        <td style="color:#494950"><i class="fas fa-id-badge me-2 text-secondary"></i>Last Name</td>
                        <td><b>{{user.last_name}}</b></td>
                    </tr>
                    <tr>
                        <td style="color:#494950"><i class="fas fa-envelope me-2 text-secondary"></i>Email</td>
                        <td><b>{{user.email}}</b></td>
                    </tr>
                    <tr>
                        <td style="color:#494950"><i class="fas fa-key me-2 text-secondary"></i>API key</td>
                        <td><b>{{user.api_key}}</b>  (click <a href="http://rulezet.org/api/rule/doc/">here for the API</a>).</td>
                    </tr>
                </table>
            </div>
            <div class="text-end mt-4">
                <a class="btn btn-outline-success btn-lg" href="{{ url_for('account.edit_user') }}">
                <i class="fas fa-edit me-2"></i>Edit Profile
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
