.nav-link{
  color:black;
}

.dropdown-item.active, 
.dropdown-item:active {
  background-color: #e3f2fd; 
  color: black !important;
  border-left: rgb(13, 110, 253) 3px solid; 
 
}

.custom-nav-link.active {
  color: rgb(10, 88, 202) !important;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, transparent, rgb(10, 88, 202), transparent) 1;
  border-radius: 0;
}
