.nav-link{
  color:black;
    font-family: 'Space Mono', monospace;
}

.dropdown-item.active, 
.dropdown-item:active {
  background-color: #e3f2fd; 
  color: black !important;
  border-left: rgb(13, 110, 253) 3px solid; 
 
}

.custom-nav-link.active {
  color: rgb(10, 88, 202) !important;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, transparent, rgb(10, 88, 202), transparent) 1;
  border-radius: 0;
}

body.dark-mode .logo img {
  filter: brightness(1.3) contrast(1.1);

  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.9));
  background-color: transparent;
}
