<!-- templates/diff_template.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container my-4" id="main-container">
    <div class="row mt-3">
        <div class="col-md-6 mb-3">
            <strong>Proposed Content:</strong>
            <div class="bg-light p-3 rounded border" style="white-space: pre-wrap; font-family: monospace;">
                <div v-for="(line, i) in getProposedContentLines(rule.proposed_content)" :key="i">
                    <span v-if="line.trim() !== ''" :class="{
                        'text-success': isLineNew(line, rule.old_content),
                    }" class="d-block p-1">
                        [[ line ]]
                    </span>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-3">
            <strong>Old Content:</strong>
            <div class="bg-light p-3 rounded border" style="white-space: pre-wrap; font-family: monospace;">
                <div v-for="(line, i) in getOldContentLines(rule.old_content)" :key="i">
                    <span v-if="line.trim() !== ''" :class="{
                        'text-danger': isLineDeleted(line, rule.proposed_content),
                    }" class="d-block p-1">
                        [[ line ]]
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block script %}
<script type="module">
const { createApp, ref, onMounted } = Vue;
import { display_toast, prepare_toast, message_list } from '/static/js/toaster.js';

createApp({
    delimiters: ['[[', ']]'],
    setup() {
         /**         
         *          #############################
         *          #   color lines for changes  #
         *          #############################
         * */  

        function getOldContentLines(content) {
            return content.split('\n');
        }

        function getProposedContentLines(content) {
            return content.split('\n');
        }

        function isLineNew(line, oldContent) {
            const normalizedLine = line.trim();
            const normalizedOldContent = oldContent.split('\n').map(l => l.trim());
            
            return !normalizedOldContent.includes(normalizedLine); 
        }

        function isLineDeleted(line, proposedContent) {
            const normalizedLine = line.trim();
            const normalizedProposedContent = proposedContent.split('\n').map(l => l.trim());
            
            return !normalizedProposedContent.includes(normalizedLine);  
        }
        


        

        return { htmlOld, htmlNew, loadDiff };
    }
}).mount('#main-container');
</script>
{% endblock %}