{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="container mt-4 mb-4" id="main-container">
    <div class="mb-4 border-bottom pb-3">
        <h2 class="fw-bold mb-1 text-primary text-center">
            Edit {{ rule.title }}
            <div class="mx-auto" style="width: 60px; height: 4px; background-color: #0d6efd; border-radius: 2px;"></div>
        </h2>
        <p class="text-muted mt-2">
            Stay updated with the latest rules added to our repository. Browse through recent contributions and find new
            detection rules to enhance your security measures.
        </p>
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="modal-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.title.label(class_="col-form-label") }}
                        {{ form.title(class_="form-control",
                        placeholder="Enter the rule title...",
                        title="This is the title of your rule (e.g. SQL Injection Detection)") }}
                        {% if form.title.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.title.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.format.label(class_="col-form-label") }}
                        {{ form.format(class_="form-select",
                        placeholder="Choose a rule format...",
                        title="Format of the rule") }}
                        {% if form.format.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.format.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    {{ form.license.label(class_="col-form-label") }}
                    {{ form.license(class_="form-control", id="license-select",
                    placeholder="Choose a license...",
                    title="License for the visibility of the rule") }}
                    {% if form.license.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.license.errors[0] | safe }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    {{ form.source.label(class_="col-form-label") }}
                    {{ form.source(class_="form-control",
                    placeholder="Enter the rule source...",
                    title="Source to find the rule in the net") }}
                    {% if form.source.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.source.errors[0] | safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.version.label(class_="col-form-label") }}
                        {{ form.version(class_="form-control",
                        placeholder="Enter the rule version (1.0 or 1)...",
                        title="Source to find the rule in the net") }}
                        {% if form.version.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.version.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mb-4 text-start">
                    <vulnerability-input v-model="detectedVulnerabilities" target-type="rule" :target-id="ruleId">
                    </vulnerability-input>

                    <input type="hidden" name="vulnerabilities" :value="JSON.stringify(detectedVulnerabilities)">
                </div>
            </div>


            <div class="mb-3">
                <div class="form-group">
                    {{ form.description.label(class_="col-form-label") }}
                    {{ form.description(class_="form-control", rows=4,
                    placeholder="Enter the description of the rule (context, explain...)...",
                    title="Description for the context, the syntax... to help the community to found it") }}
                    {% if form.description.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.description.errors[0] | safe }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="form-group">
                        {{ form.original_uuid.label(class_="col-form-label") }}
                        {{ form.original_uuid(class_="form-control", rows=4,
                        placeholder="Enter the original uuid if the rule has already one...",
                        title="UUID to the rule. (one will be generate after the creation of the rule)") }}
                        {% if form.original_uuid.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.original_uuid.errors[0] | safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Rule Content</label>
                {% if form.to_string.errors %}
                <div class="invalid-feedback d-block text-start mt-2 mb-2 text-danger fw-bold fs-6 ">
                    {{ form.to_string.errors[0] | safe }}
                </div>
                {% endif %}
                <codemirror-editor v-model="currentRule.to_string" mode="yaml" height="500px">
                </codemirror-editor>

                <input type="hidden" name="to_string" :value="currentRule.to_string">
            </div>

            <div class="text-center">
                {{ form.submit(class='btn btn-primary') }}
            </div>

        </div>
    </form>
</div>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, ref, computed, onMounted } = Vue
    import { message_list, create_message } from '/static/js/toaster.js'
    import VulnerabilityInput from '/static/js/vulnerability/vulnerabilityInput.js';
    import CodeMirrorEditor from '/static/js/codeMirror/codeMirrorEditor.js';

    createApp({
        delimiters: ['[[', ']]'],
        components: {
            'vulnerability-input': VulnerabilityInput,
            'codemirror-editor': CodeMirrorEditor
        },
        setup() {
            const ruleId = "{{ rule.id | safe }}";

            const currentRule = ref([]);




            async function fetchCurrentRule() {
                const response = await fetch('/rule/get_current_rule?rule_id=' + ruleId)
                if (response.ok) {
                    const data = await response.json();
                    currentRule.value = data.rule;
                }
            }



            const detectedVulnerabilities = ref([]);


            onMounted(() => {
                fetchCurrentRule();
                $('#license-select').select2({
                    placeholder: "Search for a license",
                    allowClear: true
                });
            });

            return {
                message_list,
                create_message,
                detectedVulnerabilities,
                ruleId,
                VulnerabilityInput,
                CodeMirrorEditor,
                currentRule,
            }
        },
    }).mount('#main-container');
</script>

{% endblock %}