{% extends 'base.html' %}
{% block content %}



<div class="container mt-4">
    <h1 class="ui dividing header text-center mb-4">Create a Rule</h1>
        <!-- Tabs navigation -->
    <ul class="nav nav-tabs mb-3" id="ruleTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="manual-tab" data-bs-toggle="tab" data-bs-target="#manual" type="button" role="tab">
                <i class="fas fa-edit me-1"></i> Manual Submission
            </button>
        </li>
        <!-- <li class="nav-item" role="presentation">
            <button class="nav-link " id="parse-tab" data-bs-toggle="tab" data-bs-target="#parse" type="button" role="tab">
                <i class="fa-solid fa-paste me-1"></i>Parse a rule
            </button>
        </li> -->
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="github-tab" data-bs-toggle="tab" data-bs-target="#github" type="button" role="tab">
                <i class="fab fa-github me-1"></i> GitHub URL
            </button>
        </li>
    </ul>
    <!-- Tabs content -->
    <div class="tab-content" id="ruleTabContent">
        
        <!-- Manual rule submission tab -->
        <div class="tab-pane fade show active" id="manual" role="tabpanel">
            <div class="card card-body shadow-sm" id="main-container">
                <form action="" method="post" id="form">
                    {{ form.hidden_tag() }}
            
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.title.label(class_="col-form-label") }} <span style="color:red">*</span>
                                {{ form.title(class_="form-control") }}
                                {% if form.title.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.title.errors[0] | safe }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                {{ form.format.label(class_="col-form-label") }} <span style="color:red">*</span>

                                {{ form.format(class_="form-select") }}

                                {% if form.format.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ form.format.errors[0] | safe }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.license.label(class_="col-form-label") }}
                                {{ form.license(class_="form-control", id="license-select") }}
                                {% if form.license.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.license.errors[0] | safe }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.source.label(class_="col-form-label") }}
                                {{ form.source(class_="form-control") }}
                                {% if form.source.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.source.errors[0] | safe }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.version.label(class_="col-form-label") }} 
                                {{ form.version(class_="form-control") }}
                                {% if form.version.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.version.errors[0] | safe }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.cve_id.label(class_="col-form-label") }}
                                {{ form.cve_id(class_="form-control") }}
                                {% if form.cve_id.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.cve_id.errors[0] | safe }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-group">
                                {{ form.description.label(class_="col-form-label") }}
                                {{ form.description(class_="form-control", rows=4) }}
                                {% if form.description.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.description.errors[0] | safe }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-group">
                                {{ form.original_uuid.label(class_="col-form-label") }}
                                {{ form.original_uuid(class_="form-control", rows=4) }}
                                {% if form.original_uuid.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.original_uuid.errors[0] | safe }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            
                    <div class="mb-3">
                        {% if error %}
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <i class="fas fa-exclamation-triangle me-2"></i>
                            <div>
                                {{ error }}
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group">
                            {{ form.to_string.label(class_="col-form-label") }} <span style="color:red">*</span>
                    
                            <textarea id="editor" name="to_string">{{ (form.to_string.data or '') | e }}</textarea>

                    
                            {% if form.to_string.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.to_string.errors[0] | safe }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    

                    <!-- <div id="dynamic-fields-create" class="mb-3"></div>
                
                    <div class="mb-3">
                        <button type="button" class="btn btn-secondary" onclick="addField(1)" title="Compile the YARA rules with external variables will cause errors stating an undefined identifier. Please click this button to add as many external variables as you need.">add external variables</button>
                    </div> -->
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="tab-pane fade  " id="parse" role="tabpanel">
            <div class="card card-body shadow-sm" id="main-container">
               <form method="POST" action="{{ url_for('rule.parse_rule') }}" 
                    class="d-flex flex-column" 
                    id="github-form" >
                    
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <input type="text" name="fakeusernameremembered" id="fakeusernameremembered" style="display:none">
                    <input type="password" name="fakepasswordremembered" id="fakepasswordremembered" style="display:none">

                    <div class="mb-3">
                        <label for="content" class="form-label"><strong>Rule content</strong> <span style="color:red">*</span></label>
                        <textarea name="content" id="content" class="form-control" 
                                rows="6" placeholder="Paste your rule content here..." required></textarea>
                    </div>

                    <div class="col-md-3">
                        <label for="format" class="form-label"><strong>Rule format</strong> <span style="color:red">*</span></label>
                        <select v-model="ruleType" name="format" id="format" class="form-select form-select-sm rounded-pill" required>
                            <option v-for="format in rules_formats" :value="format.name" :key="format.id">
                                [[ format.name ]]
                            </option>
                        </select>
                    </div>

                    <div id="flash-messages" class="mt-2">
                        {% for category, message in get_flashed_messages(with_categories=True) %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="d-flex align-items-center">
                        <button type="submit" class="btn btn-primary" id="submit-button">
                            <i class="fas fa-paper-plane"></i> Send
                        </button>
                    </div>
                </form>

            </div>
        </div> -->

        <div class="tab-pane fade" id="github" role="tabpanel">
            <div class="card p-4 shadow-sm mb-3">
                <h5 class="mb-2 d-flex align-items-center">
                    <label for="url" class="form-label m-0">
                        Import rules from GitHub project with URL 
                    </label> 
                    <span style="color:red">*</span>
                    <i class="fas fa-info-circle ms-2 text-primary" data-bs-toggle="collapse" data-bs-target="#ruleInfo" role="button" aria-expanded="false" aria-controls="ruleInfo" style="cursor:pointer;" title="More info"></i>
                </h5>

                <div class="collapse" id="ruleInfo">
                    <div class="alert alert-info mt-2">
                        The script will attempt to parse the rules from the GitHub repository according to their format (YARA, Sigma, Zeek, Suricata). 
                        If any issues are detected during the rule validation, you will have the opportunity to review and correct them in the "Bad Rules" section.
                    </div>
                </div>

               <form method="POST" action="{{ url_for('rule.import_rules_from_github') }}" class="d-flex flex-column" id="github-form" @submit="showParsingModal">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3 d-flex"><!-- Anti-autofill leurre -->
                        <input type="text" name="fakeusernameremembered" id="fakeusernameremembered" style="display:none">
                        <input type="password" name="fakepasswordremembered" id="fakepasswordremembered" style="display:none">

                        <input type="text" name="url" class="form-control me-2" id="url" placeholder="https://github.com/your_username/project.git" v-model="url" required >
                    </div>

                    <div id="flash-messages" class="mt-2">
                        {% for category, message in get_flashed_messages(with_categories=True) %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>



                    <div class="mb-3">
                        <label for="license-select" class="form-label">License</label>
                        <select id="license-select" name="license" class="form-control" v-model="selectedLicense">
                            <option disabled value="">-- Choose a license --</option>
                            <option v-for="item in license" :key="item" :value="item">[[ item ]]</option>
                        </select>
                    </div>

                    <div class="d-flex align-items-center">
                        <button type="submit" class="btn btn-primary" id="submit-button">
                            <i class="fas fa-paper-plane"></i> Send
                        </button>
                    </div>
                </form>
            </div>

            <div class="modal fade" id="parsingModal" tabindex="-1" aria-labelledby="parsingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-center p-4">
                        <div class="modal-body">
                            <i class="fas fa-sync-alt fa-spin fa-3x text-primary mb-3"></i>
                            <h5 class="mb-2">Parsing rules in progress…</h5>
                            <p class="text-muted">This may take a few seconds depending on the repository size.</p>
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



            
        

    </div>
</div>
{% endblock %}



{% block script %}
<script type="module">
    document.addEventListener('DOMContentLoaded', function() {
        const params = new URLSearchParams(window.location.search);
        const tab = params.get('tab');
        if (tab === 'github') {
            const githubTab = document.querySelector('#github-tab');
            const githubPane = document.querySelector('#github');
            const manualTab = document.querySelector('#manual-tab');
            const manualPane = document.querySelector('#manual');

            manualTab.classList.remove('active');
            manualPane.classList.remove('show', 'active');

            githubTab.classList.add('active');
            githubPane.classList.add('show', 'active');
        }
    });

    
     $(document).ready(function() {
        $('#license-select').select2({
            placeholder: "Search for a license",
            allowClear: true
        });

        const editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            lineNumbers: true,
            mode: "yaml",  
            theme: "monokai",
            matchBrackets: true,
            autoRefresh: true
        });

    });


    const { createApp, ref, onMounted } = Vue;
    import { message_list } from '/static/js/toaster.js';

    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const license = ref([]);
            const selectedLicense = ref("");
            const url = ref(""); // pour le champ URL

            async function fetchRules() {
                const res = await fetch('/rule/get_license');
                const data = await res.json();
                license.value = data.licenses;
            }

            function showParsingModal(event) {
                if (!url.value.trim()) {
                    alert("The URL field is required.");
                    return;
                }
                const modal = new bootstrap.Modal(document.getElementById('parsingModal'));
                modal.show();

                event.target.submit();
            }


            onMounted(() => {
                fetchRules();
            });

            const rules_formats = ref([])
            const number_rules_formats = ref(0)

            async function fetchRulesFormats() {
                const res = await fetch('/rule/get_rules_formats')
                const data = await res.json()
                if (res.status === 200){
                    rules_formats.value = data.formats 
                    number_rules_formats.value = data.length | 0
                }
            }
            fetchRulesFormats()


            return {
                message_list,
                license,
                selectedLicense,
                url,
                showParsingModal,
                rules_formats,
                number_rules_formats,
                fetchRulesFormats
            };
        }
    }).mount('#main-container');


    // Initialize Select2 on the license dropdown
    $(document).ready(function() {
        $('#license-select').select2({
            placeholder: "Search for a license",
            allowClear: true
        });
    });
</script>
{% endblock %}

