{% extends 'base.html' %}
{% block content %}



<div class="container mt-4">
  <h2 class="fw-bold mb-1 text-center text-primary">Create a Rule</h2>
  <div class="mx-auto mb-4" style="width: 60px; height: 4px; background-color: #0d6efd; border-radius: 2px;"></div>
  <p class="text-muted mt-2">
      Use the form below to manually submit a new detection rule, parse an existing rule, or import rules from a GitHub repository. Select the appropriate tab to get started.
  </p>
      <div>
            <ul class="nav nav-underline justify-content-center w-100 mb-3" id="exampleTabs" role="tablist">
                  <li class="nav-item flex-fill text-center">
                        <a class="nav-link active" id="chap1-tab" data-bs-toggle="tab" href="#chap1-pane" role="tab" aria-controls="chap1-pane" aria-selected="true" style="color: var(--text-color);">
                              Manual Submission
                        </a>
                  </li>
                  <li class="nav-item flex-fill text-center">
                        <a class="nav-link" id="chap2-tab" data-bs-toggle="tab" href="#chap2-pane" role="tab" aria-controls="chap2-pane" aria-selected="false" style="color: var(--text-color);">
                              Parse a Rule
                        </a>
                  </li>
                  <li class="nav-item flex-fill text-center">
                        <a class="nav-link" id="chap3-tab" data-bs-toggle="tab" href="#chap3-pane" role="tab" aria-controls="chap3-pane" aria-selected="false" style="color: var(--text-color);">
                              GitHub URL
                        </a>
                  </li>
            </ul>

            <div class="tab-content" id="exampleTabsContent">
                  <div class="tab-pane fade show active" id="chap1-pane" role="tabpanel" aria-labelledby="chap1-tab">
                        <div class="card card-body shadow-sm" id="main-container">
                              <form action="" method="post" id="form">
                                    {{ form.hidden_tag() }}
                              
                                    <div class="row mb-3">
                                          <div class="col-md-6">
                                                <div class="form-group">
                                                      <strong>{{ form.title.label(class_="col-form-label") }} <span style="color:red">*</span></strong>

                                                      {{ form.title(
                                                            class_="form-control",
                                                            placeholder="Enter the rule title...",
                                                            title="This is the title of your rule (e.g. SQL Injection Detection)"
                                                      ) }}

                                                      {% if form.title.errors %}
                                                      <div class="invalid-feedback d-block">
                                                            {{ form.title.errors[0] | safe }}
                                                      </div>
                                                      {% endif %}
                                                </div>
                                          </div>

                                          <div class="col-md-6">
                                                <div class="form-group">
                                                      <strong>{{ form.format.label(class_="col-form-label") }} <span style="color:red">*</span></strong>

                                                      {{ form.format(class_="form-select",
                                                            placeholder="Choose a rule format...",
                                                            title="Format of the rule") }}

                                                      {% if form.format.errors %}
                                                            <div class="invalid-feedback d-block">
                                                            {{ form.format.errors[0] | safe }}
                                                            </div>
                                                      {% endif %}
                                                </div>
                                          </div>
                                    </div>
                              
                                    <div class="row mb-3">
                                          <div class="col-md-6">
                                                <div class="form-group">
                                                      <strong>{{ form.license.label(class_="col-form-label") }}</strong>
                                                      {{ form.license(class_="
                                                            form-control", 
                                                            id="license-select",
                                                            placeholder="Choose a license...",
                                                            title="License for the visibility of the rule") }}
                                                      {% if form.license.errors %}
                                                      <div class="invalid-feedback d-block">
                                                            {{ form.license.errors[0] | safe }}
                                                      </div>
                                                      {% endif %}
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group">
                                                      <strong>{{ form.source.label(class_="col-form-label") }}</strong>
                                                      {{ form.source(class_="form-control",
                                                            placeholder="Enter the rule source...",
                                                            title="Source to find the rule in the net") }}
                                                      {% if form.source.errors %}
                                                      <div class="invalid-feedback d-block">
                                                            {{ form.source.errors[0] | safe }}
                                                      </div>
                                                      {% endif %}
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group">
                                                      <strong>{{ form.version.label(class_="col-form-label") }} </strong>
                                                      {{ form.version(class_="form-control",
                                                            placeholder="Enter the rule version (1.0 or 1)...",
                                                            title="Source to find the rule in the net") }}
                                                      {% if form.version.errors %}
                                                      <div class="invalid-feedback d-block">
                                                            {{ form.version.errors[0] | safe }}
                                                      </div>
                                                      {% endif %}
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group">
                                                      <strong>{{ form.cve_id.label(class_="col-form-label") }}</strong>
                                                      {{ form.cve_id(class_="form-control",
                                                            placeholder="Enter the Vulnerability id if there is...",
                                                            title="Id format : CVE , GCVE, GHSA, PYSEC, GSD, CERT-Bund, Cisco, RedHat, MSRC CVE or CERT-FR patterns") }}
                                                      {% if form.cve_id.errors %}
                                                      <div class="invalid-feedback d-block">
                                                            {{ form.cve_id.errors[0] | safe }}
                                                      </div>
                                                      {% endif %}
                                                </div>
                                          </div>
                                    </div> 
                              
                                    <div class="row mb-3">
                                          <div class="col">
                                                <div class="form-group">
                                                      <strong>{{ form.description.label(class_="col-form-label") }}</strong>
                                                      {{ form.description(class_="form-control", rows=4,
                                                            placeholder="Enter the description of the rule (context, explain...)...",
                                                            title="Description for the context, the syntax... to help the community to found it") }}
                                                      {% if form.description.errors %}
                                                      <div class="invalid-feedback d-block">
                                                            {{ form.description.errors[0] | safe }}
                                                      </div>
                                                      {% endif %}
                                                </div>
                                          </div>
                                    </div>

                                    <div class="row mb-3">
                                          <div class="col">
                                                <div class="form-group">
                                                      <strong>{{ form.original_uuid.label(class_="col-form-label") }}</strong>
                                                      {{ form.original_uuid(class_="form-control", rows=4,
                                                            placeholder="Enter the original uuid if the rule has already one...",
                                                            title="UUID to the rule. (one will be generate after the creation of the rule)") }}
                                                      {% if form.original_uuid.errors %}
                                                      <div class="invalid-feedback d-block">
                                                            {{ form.original_uuid.errors[0] | safe }}
                                                      </div>
                                                      {% endif %}
                                                </div>
                                          </div>
                                    </div>
                              
                                    <div class="mb-3">
                                          {% if error %}
                                          <div class="alert alert-danger d-flex align-items-center" role="alert">
                                                <i class="fas fa-exclamation-triangle me-2"></i>
                                                <div>
                                                      {{ error }}
                                                </div>
                                          </div>
                                          {% endif %}

                                          <div class="form-group">
                                                <strong>{{ form.to_string.label(class_="col-form-label") }} <span style="color:red">*</span></strong>
                                          
                                                <textarea id="editor" name="to_string">{{ (form.to_string.data or '') | e }}</textarea>

                                          
                                                {% if form.to_string.errors %}
                                                      <div class="invalid-feedback d-block">
                                                            {{ form.to_string.errors[0] | safe }}
                                                      </div>
                                                {% endif %}
                                          </div>
                                    </div>
                              
                                    <div class="text-center">
                                          {{ form.submit(class='btn btn-primary') }}
                                    </div>
                              </form>
                        
                              
                              
                        </div>
                  </div>
                  <div class="tab-pane fade" id="chap2-pane" role="tabpanel" aria-labelledby="chap2-tab">
                        <div class="card card-body shadow-sm" id="main-container">
                              <form method="POST" action="{{ url_for('rule.parse_rule') }}" 
                                    class="d-flex flex-column" 
                                    id="github-form"  novalidate>

                                    <div id="flash-messages" class="mt-2">
                                          {% for category, message in get_flashed_messages(with_categories=True) %}
                                          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                          </div>
                                          {% endfor %}
                                    </div>
                                    
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                                    <input type="text" name="fakeusernameremembered" id="fakeusernameremembered" style="display:none">
                                    <input type="password" name="fakepasswordremembered" id="fakepasswordremembered" style="display:none">

                                    <div class="mb-3">
                                          <strong><label for="content" class="form-label">Rule content<span style="color:red">*</span></label></strong>
                                          <textarea id="content" name="content" rows="6"   placeholder="Paste your rule content here..."  required></textarea>
                                    </div>

                                    <div class="mb-3">
                                          <strong><label for="format" class="form-label">Rule format <span style="color:red">*</span></label></strong>
                                          <select v-model="ruleType" name="format" id="format" class="form-select form-select-sm " required>
                                                <option v-for="format in rules_formats" :value="format.name" :key="format.id">
                                                      [[ format.name ]]
                                                </option>
                                          </select>
                                    </div>

                                    <div class="text-center">
                                          <button type="submit" class="btn btn-primary" id="submit-button">
                                          Parse
                                          </button>
                                    </div>
                              </form>

                              </div>
                  </div>
                  <div class="tab-pane fade" id="chap3-pane" role="tabpanel" aria-labelledby="chap3-tab">
                        
                        <div class="card p-4 shadow-sm mb-3">
                              <h5 class="mb-2 d-flex align-items-center">
                                    <strong>
                                          <label for="url" class="form-label m-0">
                                                Import rules from GitHub project with URL 
                                          </label> 
                                          <span style="color:red">*</span>
                                    </strong>
                                    <i class="fas fa-info-circle ms-2 text-primary" data-bs-toggle="collapse" data-bs-target="#ruleInfo" role="button" aria-expanded="false" aria-controls="ruleInfo" style="cursor:pointer;" title="More info"></i>
                              </h5>

                              <div class="collapse" id="ruleInfo">
                                    <div class="alert alert-info mt-2">
                                          The script will attempt to parse the rules from the GitHub repository according to their format (YARA, Sigma, Zeek, Suricata). 
                                          If any issues are detected during the rule validation, you will have the opportunity to review and correct them in the "Bad Rules" section.
                                    </div>
                              </div>

                              {% if current_user.is_admin() %}
                                    <div>
                                          <div class="mb-3">
                                                <input type="text" name="url" class="form-control w-100" id="url" placeholder="https://github.com/your_username/project.git" v-model="url" >
                                          </div>

                                          <div id="github-url-error" style="color: brown;"></div>

                                                                  <div class="mb-3">
                                                                        <strong><label for="license-select" class="form-label">License</label></strong>
                                                                        <select id="license-select" name="license" class="form-control" v-model="selectedLicense">
                                                                              <option disabled value="">No license</option>
                                                                              <option v-for="item in license" :key="item" :value="item">[[ item ]]</option>
                                                                        </select>
                                                                  </div>

                                          <button v-if="!is_loading" type="submit" class="btn btn-primary" @click="import_git_url()">
                                                <i class="fas fa-paper-plane"></i> Send
                                          </button>

                                          <button v-else class="btn btn-primary" type="button" disabled>
                                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                                <span role="status">Loading...</span>
                                          </button>
                                    </div>
                              {% else %}
                                    <div>
                                          <span class="mt-2">
                                                <strong>You need to be an admin to import rules from GitHub.</strong>
                                          </span>
                                          
                                          
                                          
                                          <div class="mt-2">
                                                <a href="/account/login" class="btn btn-primary">Login</a>
                                          </div>
                                          
                                    </div>
                              {% endif %}
                        </div>
                  </div>
            </div>
      </div>
</div>
{% endblock %}



{% block script %}
<script type="module">
    document.addEventListener('DOMContentLoaded', function() {
      const params = new URLSearchParams(window.location.search);
      const tab = params.get('tab');

      const manualTab = document.querySelector('#chap1-tab');
      const manualPane = document.querySelector('#chap1-pane');
      const parseTab = document.querySelector('#chap2-tab');
      const parsePane = document.querySelector('#chap2-pane');
      const githubTab = document.querySelector('#chap3-tab');
      const githubPane = document.querySelector('#chap3-pane');

      [manualTab, parseTab, githubTab].forEach(t => t.classList.remove('active'));
      [manualPane, parsePane, githubPane].forEach(p => p.classList.remove('show','active'));

      if (tab === 'github') {
            githubTab.classList.add('active');
            githubPane.classList.add('show','active');
      } else if (tab === 'parse') {
            parseTab.classList.add('active');
            parsePane.classList.add('show','active');
      } else {

            manualTab.classList.add('active');
            manualPane.classList.add('show','active');
      }
      });


    
     $(document).ready(function() {
        $('#license-select').select2({
            placeholder: "Search for a license",
            allowClear: true,
            width: '100%' 
        });

        const editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            lineNumbers: true,
            mode: "yaml",  
            theme: "monokai",
            matchBrackets: true,
            autoRefresh: true
        });

        const editor2 = CodeMirror.fromTextArea(document.getElementById("content"), {
            lineNumbers: true,
            mode: "yaml",  
            theme: "monokai",
            matchBrackets: true,
            autoRefresh: true
        });


    });


    const { createApp, ref, onMounted } = Vue;
    import { message_list, display_toast } from '/static/js/toaster.js';

    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const license = ref([]);
            const selectedLicense = ref("");
            const url = ref(""); // for URL field

            const rules_formats = ref([])
            const number_rules_formats = ref(0)

            const is_loading = ref(false)
            const ruleType = ref('');

            async function fetchRules() {
                const res = await fetch('/rule/get_license');
                const data = await res.json();
                license.value = data.licenses;
            }

            function showParsingModal(event) {
                if (!url.value.trim()) {
                    alert("The URL field is required.");
                    return;
                }
                const modal = new bootstrap.Modal(document.getElementById('parsingModal'));
                modal.show();

                event.target.submit();
            }



            async function fetchRulesFormats() {
                const res = await fetch('/rule/get_rules_formats')
                const data = await res.json()
                if (res.status === 200){
                    rules_formats.value = data.formats 
                    number_rules_formats.value = data.length | 0

                    if (rules_formats.value.length > 0) {
                        ruleType.value = rules_formats.value[0].name;
                    }
                }
            }
            
            async function import_git_url() {
                is_loading.value = true
                $("#github-url-error").text("")
                if(url.value){
                    const res = await fetch(
                        '/rule/import_rules_from_github',{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"url": url.value, "license": selectedLicense.value})
                        }
                    )
                    if(await res.status == 201){
                        let loc = await res.json()
                        
                        window.location.href="/rule/import_loading/"+loc["session_uuid"]
                    }else{
                        display_toast(res, true)
                    }
                }else{
                    $("#github-url-error").text("Need to give an url")
                }
                is_loading.value = false
            }
            

            onMounted(() => {
                fetchRules();
                fetchRulesFormats();
            });


            return {
                message_list,
                license,
                selectedLicense,
                url,
                rules_formats,
                number_rules_formats,
                is_loading,
                showParsingModal,
                fetchRulesFormats,
                import_git_url,
                ruleType
            };
        }
    }).mount('#main-container');

</script>
{% endblock %}

