<!-- Get the list of all the user for action (delete, view profil)-->
{% extends 'base.html' %}

{% block content %}
{% if current_user.is_admin() %}
    <div class="container my-4" id="main-container">
        <div class="card bg-white shadow-sm border-0 mb-4">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-4">
                        <input type="text" v-model="searchQuery" @input="onSearchInput" @keyup.enter="onEnterKey" class="form-control form-control-sm rounded-pill" placeholder="Search by keywords...">
                    </div>
                    <div class="col-md-3">
                        <select v-model="isAdminFilter" class="form-select form-select-sm rounded-pill">
                            <option value="">All Users</option>
                            <option value="true">Admins</option>
                            <option value="false">Non-admins</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select v-model="isConnectedFilter" class="form-select form-select-sm rounded-pill">
                            <option value="">All Connections</option>
                            <option value="true">Connected</option>
                            <option value="false">Disconnected</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark w-100 rounded-pill" @click="fetchUsers(1)">
                            <i class="fas fa-sliders-h"></i> Apply
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="users_list && users_list.length > 0">
            <h4 class="mb-4">Users (<span class="text-primary">[[ total_users ]]</span>)</h4>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col" v-for="(user, index) in users_list" :key="user.id">
                    <div class="card shadow-sm h-100 border-0">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="fas fa-user me-2"></i>
                                <template v-if="{{current_user.id}} == user.id">
                                    <span>
                                        [[ user.first_name ]] [[ user.last_name || '' ]]
                                        <span class="badge bg-info text-dark ms-2">(you)</span>
                                    </span>
                                </template>
                                <template v-else>
                                    <span>
                                        [[ user.first_name ]] [[ user.last_name || '' ]]
                                    </span>
                                </template>

                                <span class="badge bg-secondary float-end" v-if="user.admin">
                                <i class="fas fa-user-shield me-1"></i> Admin
                                </span>
                            </h5>

                            <p class="card-text mb-1">
                                <i class="fas fa-envelope me-2"></i>[[ user.email ]]
                            </p>

                            <p class="card-text">
                                <i :class="user.is_connected ? 'fas fa-circle text-success' : 'fas fa-circle text-secondary'"></i>
                                [[ user.is_connected ? 'Online' : 'Offline' ]]
                            </p>
                        </div>

                        <div class="card-footer bg-white border-0 d-flex justify-content-between">
                        <a :href="'/account/detail_user/' + user.id" title="view more about this user" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-eye me-1"></i> View Profile
                        </a>

                        <button type="button" class="btn btn-outline-danger btn-sm" title="Delete the user" data-bs-toggle="modal" :data-bs-target="'#delete_user_modal_'+user.id">
                            <i class="fas fa-trash-alt me-1"></i> Delete
                        </button>
                        <div class="modal fade" :id="'delete_user_modal_'+user.id" tabindex="-1" aria-labelledby="delete_user_modal" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" style="color:black;" id="delete_user_modal">
                                        Delete [[ user.first_name ]] [[ user.last_name ]] ?
                                        </h1>
                                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button class="btn btn-danger" @click="deleteUser(user.id, index)">
                                        <i class="fa-solid fa-trash"></i> Confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination mt-3 justify-content-center">
                    <li class="page-item" :class="{ disabled: current_page === 1 }">
                    <a class="page-link" href="#" @click.prevent="fetchUsers(current_page - 1 , )">
                        <i class="fas fa-arrow-left"></i> Previous
                    </a>
                    </li>
                    <li class="page-item" v-for="page in visiblePages" :key="page" :class="{ active: current_page === page, disabled: page === '...' }">
                    <a v-if="page !== '...'" class="page-link" href="#" @click.prevent="fetchUsers(page)">[[ page ]]</a>
                    <span v-else class="page-link">...</span>
                    </li>
                    <li class="page-item" :class="{ disabled: current_page === total_pages }">
                    <a class="page-link" href="#" @click.prevent="fetchUsers(current_page + 1)">
                        Next <i class="fas fa-arrow-right"></i>
                    </a>
                    </li>
                </ul>
            </nav>
        </template>

        <i v-else class="text-muted">No users found.</i>
    </div>

{% else %}
    <script>
        window.location.href = "{{ url_for('account.acces_denied') }}";
    </script>
{% endif %}
{% endblock %}

{% block script %}
<script type="module">
const { createApp, ref, computed } = Vue;
import { display_toast, prepare_toast, message_list } from '/static/js/toaster.js';

createApp({
    delimiters: ['[[', ']]'],
    setup() {
        // fetch section
        const users_list = ref([])
        const total_users = ref(0)
        const total_pages = ref(0)
        const current_page = ref(0)
        
        // filter
        const isAdminFilter = ref("")
        const isConnectedFilter = ref("")
        const searchQuery = ref("")
        /******************fetch users section************************/
        async function fetchUsers(page) {
            // use URLSearchParams to add futur param for the filter (easy way)
            const params = new URLSearchParams({
                page,
                search: searchQuery.value,
                connected: isConnectedFilter.value,
                admin: isAdminFilter.value
            })

            const res = await fetch('/account/get_all_users?' + params.toString())
            if(await res.status == 200){ 
                const data = await res.json()
                if(data.success){
                    users_list.value = data.user
                    total_pages.value = data.total_pages
                    total_users.value = data.total_users
                    current_page.value = page
                }
            }else{
                display_toast(res);
                
            }
        }
            fetchUsers(1)

            const visiblePages = computed(() => {
                const pages = []
                const total = total_pages.value
                const current = current_page.value
                if (total <= 7) {
                for (let i = 1; i <= total; i++) pages.push(i)
                } else {
                if (current <= 4) {
                    pages.push(1, 2, 3, 4, 5, '...', total)
                } else if (current >= total - 3) {
                    pages.push(1, '...', total - 4, total - 3, total - 2, total - 1, total)
                } else {
                    pages.push(1, '...', current - 1, current, current + 1, '...', total)
                }
                }
                return pages
            })
        /******************delete user section************************/
        async function deleteUser(id, index) {
            const params = new URLSearchParams({
                id
            })
            const res = await fetch('/account/delete_user?' + params.toString())
            if(await res.status == 200){
                users_list.value.splice(index, 1)
                total_users.value -= 1
            }
            var myModalEl = document.getElementById('delete_user_modal_'+id);
            var modal = bootstrap.Modal.getInstance(myModalEl)
            modal.hide();
            
            display_toast(res)
        }
        /*************************filter section******************************/
        async function onSearchInput() {
            if (searchQuery.value.trim() === "") {
                await fetchUsers(1)
            } else {
                await fetchUsers(1)
            }
        }

        async function onEnterKey() {
            await fetchUsers(1)
        }


        return {
            message_list,
            total_users,
            users_list,
            deleteUser,
            visiblePages,
            fetchUsers,

            isAdminFilter,
            isConnectedFilter,
            searchQuery,

            onSearchInput,
            onEnterKey
        };
    }
}).mount('#main-container');
</script>
{% endblock %}
