{% extends 'base.html' %}
{% block content %}
<div class="container my-5" id="main-container">

    <button class="btn btn-primary me-2" @click="test">
        <i class="fas fa-plug"></i> Test
    </button>

    <!-- Conteneur flex pour deux panneaux -->
    <div class="diff-wrapper mt-3 d-flex gap-3">
        <!-- Colonne originale -->
        <div class="flex-fill border rounded" style="max-width: 45%;">
            <div class="p-2 bg-light fw-bold text-center">original</div>
            <div style="max-height: 400px; overflow:auto; white-space: pre; padding: 5px;">
                <pre v-for="(item, index) in diff_result" :key="'source-'+index" 
                     :class="item.type === 'remove' ? 'bg-danger text-white mb-0' : 'mb-0'">
[[ item.source ]]
                </pre>
            </div>
        </div>

        <!-- Colonne modifiée -->
        <div class="flex-fill border rounded" style="max-width: 45%;">
            <div class="p-2 bg-light fw-bold text-center">Modified</div>
            <div style="max-height: 400px; overflow:auto; white-space: pre; padding: 5px;">
                <pre v-for="(item, index) in diff_result" :key="'target-'+index" 
                     :class="item.type === 'add' ? 'bg-success text-white mb-0' : 'mb-0'">
[[ item.target ]]
                </pre>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script type="module">
const { createApp, ref } = Vue;
import { display_toast, prepare_toast, message_list, display_prepared_toast } from '/static/js/toaster.js';

createApp({
    delimiters: ['[[', ']]'],
    setup() {
        const diff_result = ref([]);

        async function test() {
            const res = await fetch('/misp/test');
            const data = await res.json();
            display_prepared_toast(data);
            diff_result.value = data.diff;
        }

        return {
            message_list,
            test,
            diff_result
        }
    }
}).mount('#main-container');
</script>
{% endblock %}
