{% extends 'base.html' %}
{% block content %}
<title>Access Denied</title>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="alert alert-danger text-center" role="alert">
                    <h4 class="alert-heading">Access Denied</h4>
                    <p>You do not have permission to modify/delete/make choise because you are not the owner of this rule or you have the admin right.</p>
                    <hr>
                    <p class="mb-0">Please return to the main menu to view your own rules.</p>
                    <a href="/" class="btn btn-primary mt-3">Return to Main Menu</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}