{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block content %}

<div class="container mt-4">
  <header class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-dark m-0"><i class="fas fa-cogs"></i> Recent Rules</h1>
    <a href="/rule" class="btn btn-warning btn-sm">
      <i class="fas fa-hammer"></i> Add Rule
    </a>
  </header>

  <div class="mb-3 input-group">
    <span class="input-group-text"><i class="fas fa-search"></i></span>
    <input type="text" v-model="searchQuery" class="form-control" placeholder="Search...">
  </div>

  <div class="row">
    <template v-if="filteredRules.length > 0">
      <div class="col-md-6 mb-3" v-for="(rule, index) in filteredRules" :key="rule.uuid">
        <div class="card card-body">
          <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color:#1371ff">
            <h5 class="mb-0">[[ rule.title ]]</h5>
            <div v-if="parseInt('{{current_user.id}}') === rule.user_id || current_user_is_admin">
              <a :href="`rule/edit_rule/${rule.id}`" class="btn btn-warning btn-sm me-2"><i class="fas fa-pen"></i></a>
              <button @click="deleteRule(rule.id, index)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <div class="card-body">
            <p><strong>Description:</strong> [[ rule.description ]]</p>
            <p><strong>Author:</strong> [[ rule.author ]]</p>
            <p><strong>Created:</strong> [[ rule.creation_date ]]</p>
            <p><strong>Modified:</strong> [[ rule.last_modif ]]</p>
            <a :href="`rule/detail_rule/${rule.id}`" class="btn btn-info btn-sm">View more</a>
            <button @click="vote('up', rule.id)" class="btn btn-success btn-sm mx-2"><i class="fas fa-thumbs-up"></i> [[ rule.vote_up ]]</button>
            <button @click="vote('down', rule.id)" class="btn btn-danger btn-sm"><i class="fas fa-thumbs-down"></i> [[ rule.vote_down ]]</button>
            <a :href="`rule/favorite/${rule.id}`" class="btn btn-outline-primary btn-sm ms-2"><i class="fas fa-star"></i></a>
          </div>
        </div>
      </div>
    </template>
    <template v-else >
      <p class="text-muted">No recent rules found.</p>
    </template>
  
  </div>
  
</div>


{% endblock %}



{% block script %}
<script type="module">
  const { createApp, ref, computed } = Vue
  import { message_list } from '/static/js/toaster.js'

  createApp({
    delimiters: ['[[', ']]'],
    setup() {
      const rules_list = ref([])
      const searchQuery = ref('')
      const current_user_is_admin = ref(false)

      // // to limit the user with only 1 like or dislike
      // const count_vote_user_up = ref(0);
      // const count_vote_user_down = ref(0);
      // const count_vote_user = computed(() => count_vote_user_up.value + count_vote_user_down.value);


      const filteredRules = computed(() => {
        return rules_list.value.filter(rule => {
          const q = searchQuery.value.toLowerCase()
          return (
            rule.title.toLowerCase().includes(q) ||
            rule.description.toLowerCase().includes(q) ||
            rule.author.toLowerCase().includes(q)
          )
        })
      })

      async function fetchRecentRules() {
        const res = await fetch('/get_last_rules')
        const data = await res.json()
        rules_list.value = data.rules || []
      }

      async function fetchCurrentUser() {
        const res = await fetch('/rule/get_current_user')
        const data = await res.json()
        current_user_is_admin.value = data.user
      }

      async function deleteRule(id, index) {
        const res = await fetch('/rule/delete_rule?id=' + id)
        const data = await res.json()
        if (data.success) {
          rules_list.value.splice(index, 1)
        }
      }

      async function vote(voteType, ruleId) {
        const res = await fetch(`/rule/vote_rule?id=${ruleId}&vote_type=${voteType}`);
        const data = await res.json();
        const updated = rules_list.value.find(rule => rule.id === ruleId);
        if (updated) {
          if (voteType === 'up') {
            updated.vote_up = data.vote_up;
          }
          if (voteType === 'down') {
            updated.vote_down = data.vote_down;
          }
        }
      }

  
      fetchRecentRules()
      fetchCurrentUser()

      return {
        rules_list,
        searchQuery,
        filteredRules,
        current_user_is_admin,
        deleteRule,
        vote 
      }
    }
  }).mount('#main-container')
</script>
{% endblock %}
