{% extends 'base.html' %}

{% block content %}
    <div>
        <header>
            <h1>DataBase:</h1>
        </header>
        
    </div>
    <div class="card card-body" id="main-container">
        <div class="w-100 justify-content-evenly">
            <div>
                <template v-if="users_list">
                    <template v-for="user in users_list.users">
                        <div class="list-group" style="margin-bottom: 10px;">
                            <div style="display:flex">
                                <a class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h4 class="mb-1"> User : [[ user.id ]]- [[ user.first_name ]] [[ user.last_name ]]</h4>
                                    </div>
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="card-text" title="email adress">[[ user.email ]]</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </template>
                </template>
            </div> 
        </div>
    </div>


{% endblock %}


{% block script %}
<script type="module">
    const { createApp, ref} = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const users_list = ref(null)
            const current_page = ref(1)   

            async function fetchUsers(page) {
                    users_list.value = null
                    const res = await fetch('get_users_page?page='+page)
                    let loc = await res.json()
                    users_list.value = loc
                    current_page.value = page
                }

            fetchUsers(1)
            return {
                message_list,
                users_list,
                current_page,
                fetchUsers
            }
        }
    }).mount('#main-container')

</script>
{% endblock %}